---
title: Mathilde Porée - En ce moment
---
<div id="evenements">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        BLEU<br>
        BLANC<br>
        COSMIQUE<br>
        Work in progress.<br>
        (réflexions , libertés<br>
        &amp; productions autour de l’absurde)<br>
        Nathalie Boulet – Elise de Castelbajac –<br>
        Lea Hodencq – Julia Lachaise –<br>
        Mathilde Porée – Constance Thieux.<br>
        Ouvert au public du 3 au 9 mars 2014 –<br>
        de 14h30 à 18h30 -<br>
        Finissage le 7 mars à 19h00 -<br>
        Performance (Arts Numériques)<br>
        de Steven Bachimont à 20h30 -<br>
        Atelier le45TER – le45ter.tumblr.com<br>
        45 Ter, rue de la Révolution 93100 Montreuil.<br>
        Metro L. 9, Arrêt Robespierre.<br>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-bleu-blanc-cosmique.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        Mauvaises Graines<br>
        Inauguration de l’atelier le45ter / Exposition collective
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-mauvaises-graines.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        Anonymous Drawings 2013<br>
        at TAC Eindhoven<br>
        Curated by Anke Becker<br>
        Exhibition: May 24 – June 9, 2013<br>
        Opening reception: Friday, May 24 / 5 pm<br>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-anonymous-drawings-2013-eindhoven.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        Cutlog, New-York Art Fair 2013<br>
        FREE PARKING<br>
        CUTLOG’S OUTDOOR PROJECTED IMAGE SERIES<br>
        8PM – MIDNIGHT IN THE PARKING LOT<br>
        HOLD ON, KEEP MOVING, STAY HERE<br>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-cutlog-nyc-2013.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        Exposition “Anonymous Drawings”<br>
        24 mars – 20 avril 2013<br>
        Galerie Nord / Kunstverein Tiergarten, Berlin<br>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-anonymous-drawings-2013.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p>
        Exposition “Post-Modernités Photographiques”<br>
        Vernissage mardi 5 mars 2013 à partir de 18h30<br>
        Galerie Artligre, Paris 12e<br>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "evenements/flyer-post-mod-2013.jpg" %>
    </div>
  </div>
</div>
