---
title: Mathilde Porée &mdash; En ce moment
---
<div id="evenements">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>OBSESSION: Love, Ritual, Collection</h4>
      <p><small>24 &ndash; 27 juin 2014</small></p>
      <p>
        The Curator presents<br>
        <a href="https://www.facebook.com/events/1429731567275512/">OBSESSION: Love, Ritual, Collection</a><br>
        EMBASSY TEA GALLERY<br>
        195 - 205 Union Street London SE1 0LN<br>
        Exhibition open by appointment only 24th June - 27th June<br>
        PRIVATE VIEW FRIDAY 27TH JUNE 6PM - 9PM<br>
        Exhibition continues 28th - 29th JUNE<br>
        A group show in aid of OCD UK<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-obsession-2014.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-obsession-2014.jpg", alt: "flyer-obsession-2014" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>TRIBU[NE]</h4>
      <p><small>4 &ndash; 14 juin 2014</small></p>
      <p>
        Le collectif Körper présente TRIBU[NE] en partenariat avec l'Atelier d'Estienne<br>
        Exposition collective au Manoir de Saint-Urchaut à Pont-Scorff.<br>
        Vernissage le samedi 7 Juin 2014 à 17h00<br>
        Le Collectif Körper :<br>
        Klervi Bourseul, Julie Laignel, Cédric Le Corf, Maël Nohazic, Arnaud Rochard<br>
        invite les dîplomés des quatre écoles européennes supérieures d'art de Bretagne :<br>
        Ouvert tout les jours de 10h à 12h et de 14h à 18h, fermé le lundi.<br>
        Au programme :<br>
        Présentation des éditions de La Maison&amp; et du catalogue de l'exposition.<br>
        à partir de 17h :<br>
        - Début de la performance "La jarretière" de Mélanie Peduzzi et Manon Peresse qui se déroulera tout au long du vernissage<br>
        - Poursuite du dessin performatif de Marion Plumet et Marion Viot qui se prolongera tout au long de l'exposition<br>
        18h45 : Performance de Sophie Brisard "Le bouffon"<br>
        19h30 : Performance de Yohan Rochereau "Parade"<br>
        20h30 : Show Burlesque par le "Cabernet Bullesque"<br>
      </p>
    </div>
    <div class="col-md-6">
      <div>
        <% link_to "../images/evenements/flyer-tribune-1.jpg", class: "flyer" do %>
          <%= image_tag "evenements/flyer-tribune-1.jpg", alt: "flyer-tribune" %>
        <% end %>
      </div>
      <div>
        <% link_to "../images/evenements/flyer-tribune-2.jpg", class: "flyer" do %>
          <%= image_tag "evenements/flyer-tribune-2.jpg", alt: "flyer-tribune" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>BLEU BLANC COSMIQUE</h4>
      <p><small>3 &ndash; 9 mars 2014</small></p>
      <p>
        BLEU<br>
        BLANC<br>
        COSMIQUE<br>
        Work in progress.<br>
        (réflexions, libertés<br>
        &amp; productions autour de l’absurde)<br>
        Nathalie Boulet – Elise de Castelbajac –<br>
        Lea Hodencq – Julia Lachaise –<br>
        Mathilde Porée – Constance Thieux.<br>
        Ouvert au public du 3 au 9 mars 2014 –<br>
        de 14h30 à 18h30 -<br>
        Finissage le 7 mars à 19h00 -<br>
        Performance (Arts Numériques)<br>
        de Steven Bachimont à 20h30 -<br>
        Atelier le45TER – le45ter.tumblr.com<br>
        45 Ter, rue de la Révolution 93100 Montreuil.<br>
        Metro L. 9, Arrêt Robespierre.<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-bleu-blanc-cosmique.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-bleu-blanc-cosmique.jpg", alt: "flyer-bleu-blanc-cosmique" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>Mauvaises Graines</h4>
      <p><small>22 &ndash; 24 novembre 2013</small></p>
      <p>Inauguration de l’atelier le45ter / Exposition collective</p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-mauvaises-graines.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-mauvaises-graines.jpg", alt: "flyer-mauvaises-graines" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>Anonymous Drawings 2013</h4>
      <p><small>24 mai &ndash; 9 juin 2013</small></p>
      <p>
        At TAC Eindhoven<br>
        Curated by Anke Becker<br>
        Opening reception: Friday, May 24 / 5 pm<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-anonymous-drawings-2013-eindhoven.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-anonymous-drawings-2013-eindhoven.jpg", alt: "flyer-anonymous-drawings-2013-eindhoven" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>Cutlog, New-York Art Fair 2013</h4>
      <p><small>8 &ndash; 13 mai 2013</small></p>
      <p>
        FREE PARKING<br>
        CUTLOG’S OUTDOOR PROJECTED IMAGE SERIES<br>
        8PM – MIDNIGHT IN THE PARKING LOT<br>
        HOLD ON, KEEP MOVING, STAY HERE<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-cutlog-nyc-2013.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-cutlog-nyc-2013.jpg", alt: "flyer-cutlog-nyc-2013" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>Anonymous Drawings</h4>
      <p><small>24 mars &ndash; 20 avril 2013</small></p>
      <p>
        Galerie Nord / Kunstverein Tiergarten, Berlin<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-anonymous-drawings-2013.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-anonymous-drawings-2013.jpg", alt: "flyer-anonymous-drawings-2013" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <h4>Post-Modernités Photographiques</h4>
      <p><small>5 &ndash; 16 mars 2013</small></p>
      <p>
        Vernissage mardi 5 mars 2013 à partir de 18h30<br>
        Galerie Artligre, Paris 12e<br>
      </p>
    </div>
    <div class="col-md-6">
      <% link_to "../images/evenements/flyer-post-mod-2013.jpg", class: "flyer" do %>
        <%= image_tag "evenements/flyer-post-mod-2013.jpg", alt: "flyer-post-mod-2013" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.flyer').colorbox(colorbox_options);
</script>